<html>
<head>
    <title>Proxy Server Statistics</title>
</head>
<body>
    <h1>Proxy Server Operation Data</h1>
    <table>
        {% for name, value in stats.iteritems() %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ value }}</td>
            </tr>
        {% end %}
        <tr>
            <td colspan="2">Count of HTTP Response Types </td>
        </tr>
        {% for name, value in counters.iteritems() %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ value }}</td>
            </tr>
        {% end %}
    </table>
</body>
</html>